@font-face{
	
	font-family: 'BenchNine';
	src: url('BenchNine-Regular.ttf');
	
	
	
}

#sousTitre
{
	font-family: 'BenchNine', sans-serif;
	font-size: 1.5em;
	font-style: italic;
	color: red;
	text-align: center;
	border-bottom : 8px dashed black;

}

h1
{

	text-align: center;
	font-size: 3em;
	text-shadow: black 1px 1px 1px;
	
}


body
{
	
	background: url("kullipon_petit.png") no-repeat top left;
	background-color: grey;
	
	
	
	
}

h1,h2
{
	font-family: 'BenchNine', sans-serif;
	color:red;
	opacity: 0.7;
	
}

h2
{
	font-family: 'BenchNine', sans-serif;
	font-size: 2em;
	font-style: italic;
	text-decoration: underline;
	
}


#bottom
{
	clear : both;
	border-bottom : 8px dashed black;
	text-align: center;
	
}

#image
{
	
	float: right;
	border: solid 2px black;
	border-radius: 10px;
}

p, li
{
	font-family: 'BenchNine', sans-serif;
	font-size: large;
	
}